Source: io.elementary.panel.keyboard
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               gobject-introspection,
               libglib2.0-dev,
               libgranite-7-dev (>= 7.6.0),
               libgtk-4-dev,
               libibus-1.0-dev,
               libwingpanel-8-dev,
               libxml2-dev,
               meson (>= 0.57.0),
               valac (>= 0.28)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/panel-keyboard

Package: io.elementary.panel.keyboard
Architecture: any
Depends: gkbd-capplet, xkb-data, ${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: WingPanel Keyboard Indicator
 WingPanel Keyboard Indicator
